---
import { Image } from 'astro:assets';
import BaseLayout from '@/layouts/BaseLayout.astro';
import migdalPhoto from '@/assets/imgs/piotr-migdal-direct-smiling-2022-by-cytacka-600px.jpg';
import {Content as AboutContent} from '@/content/textComponents/me.md';
---

<BaseLayout title="Homepage">
  <div class="flex">
    <div class="flex-column text">
      <AboutContent />
    </div>
    <div class="flex-column image">
      <Image
        class="main-img"
        alt="A photo of Piotr Migdał"
        src={migdalPhoto}
        width={600}
        height={600}
        loading="eager"
      />
    </div>
  </div>
</BaseLayout>

<style>
  .flex {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .flex-column {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 300px;
  }

  .main-img {
    max-width: 100%;
  }
</style>
