---
interface Props {
  width: number;
}

const { width } = Astro.props;
---

<figure class="gallery">
  <div class="image-container" style={`grid-template-columns: repeat(${width}, 1fr);`}>
    <slot />
  </div>
  {Astro.slots.has('caption') && (
    <figcaption><slot name="caption" /></figcaption>
  )}
</figure>

<style>
  .gallery {
    margin: 1rem 0;
  }

  .image-container {
    display: grid;
    gap: 1rem;
  }

  .image-container :global(img) {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  figcaption {
    margin-top: 0.5rem;
    text-align: center;
    font-style: italic;
  }

  @media (max-width: 640px) {
    .image-container {
      grid-template-columns: 1fr !important;
    }
  }
</style>
