---
interface Props {
  videoId: string;
  title?: string;
  start?: number;
  end?: number;
}

const { videoId, title = 'YouTube video player', start, end } = Astro.props;

const params = new URLSearchParams();
if (start) params.set('start', start.toString());
if (end) params.set('end', end.toString());
const query = params.toString();
const src = `https://www.youtube.com/embed/${videoId}${query ? `?${query}` : ''}`;
---

<div class="video-container">
  <iframe
    src={src}
    title={title}
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>
</div>

<style>
  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
  }

  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
</style>
